.card_container{
    width: 100%;
    max-width: auto; 
    margin: 0 auto; 
    border: 1px solid #ccc; 
    overflow: hidden; 
    padding-left:0; 
    text-align: center;
    grid-template-columns: 200px 200px 200px
}
@media screen and (max-width: 1680px) {
    .card_container {
        width: 1200px;
    }
}

@media screen and (max-width: 1280px) {
    .card_container {
        width: calc(100% - 70px);
    }

}

@media screen and (max-width: 980px) {
    .card_container {
        width: calc(100% - 100px);
    }

}

@media screen and (max-width: 736px) {
    .card_container {
        width: calc(100% - 40px);
    }

}
.slide_wrap { 
    position: relative; 
    width: 400px; 
    margin: auto; 
}
.slide_box { 
    width: 100%; 
    margin: auto; 
    overflow-x: hidden; 
}
.slide_content { 
    display: table; 
    float: left; 
    width: 400px; 
}
