	body {padding:0px; margin:0px; line-height:1}
	.photo_gallery {position:relative; max-width: 100%; height: auto; padding:10px 4px; }
	.photo_gallery p.photo_img {width:100%; height:50%; border:2px; margin:0px auto 20px auto}
	.photo_gallery p.photo_img img {width:100%; height: 100%;}
	.photo_gallery .photo_list {width:600px; overflow:hidden; margin-left:49px}
	.photo_gallery .photo_list .list_wrap ul {width:600px; list-style:none; padding:0px; margin:0px; float:left}
	.photo_gallery .photo_list .list_wrap ul li {float:left; width:140px; line-height:0; padding:0px 5px}
	.photo_gallery .photo_list .list_wrap ul li a img {width:136px; height:102px; vertical-align:middle; border:2px solid #CFC1C0}
	.photo_gallery .photo_list .list_wrap ul li.active a img {border:2px solid #DE3838}
	.photo_gallery button {position:absolute; bottom:59px; cursor:pointer}
	.photo_gallery button.btn_prev {left:25px; text-indent:-9999px; overflow:hidden; display:block; width:24px; height:24px; margin:0px; border:0px; padding:0px; background:url(http://everstory.co.kr/images/btn_prev.png) no-repeat left top}
	.photo_gallery button.btn_next {right:25px; text-indent:-9999px; overflow:hidden; display:block; width:24px; height:24px; margin:0px; border:0px; padding:0px; background:url(http://everstory.co.kr/images/btn_next.png) no-repeat left top}